<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Progress
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar color="white">
      <ion-title size="large">Progress</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col size="12" size-md="6" size-lg="4" size-xl="3" class="ion-margin-bottom">
      <ion-card mode="ios" class="ion-no-margin d-grid-center ion-padding analytics ion-activatable h-100">
        <ion-ripple-effect></ion-ripple-effect>
        <div id="bar-container"></div>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6" size-lg="4" size-xl="3" class="ion-margin-bottom">
      <ion-card mode="ios" class="ion-no-margin d-grid-center ion-padding analytics ion-activatable h-100">
        <ion-ripple-effect></ion-ripple-effect>
        <div id="barr-container"></div>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6" size-lg="4" size-xl="3" class="ion-margin-bottom">
      <ion-card mode="ios" class="ion-no-margin d-grid-center ion-padding analytics ion-activatable h-100">
        <ion-ripple-effect></ion-ripple-effect>
        <div id="line-container"></div>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>