<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Courses Subscribed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Courses</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none">
    <ion-item detail class="border-bottom ion-no-padding p-2 pl-3" (click)="openCourse(order)"
      *ngFor="let order of orders">
      <ion-label class="ion-text-wrap">
        <h2 class="fw-semi-bold">
          {{ order.course_name }}
        </h2>
        <p class="mt-2">
          {{order.course_desc}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>