<ion-content color="white">
  <ion-header color="white" class="ion-no-border">
    <ion-toolbar color="white" class="ion-text-center">
      <ion-title>Gurukul Student Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <main class="main p-4 pt-5">
    <ion-text color="white">
      <p class="size-18 fw-medium m-0">Welcome to</p>
      <p class="size-48 fw-bold m-0 mb-5" style="line-height: 1.1;">Gurukul</p>
    </ion-text>
    <form (submit)="login()" [formGroup]="loginForm">
      <ion-item input class="ion-margin-bottom" lines="none">
        <ion-icon name="mail-outline" slot="start" color="dark"></ion-icon>
        <ion-input color="dark" type="email" placeholder="Email" formControlName="email"></ion-input>
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">
          Email is invalid
        </ion-note>
      </ion-item>
      <ion-item input class="ion-margin-bottom" lines="none">
        <ion-icon color="dark" name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input color="dark" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Password"
          formControlName="password"></ion-input>
        <ion-buttons slot="end">
          <ion-button [hidden]="!isPasswordVisible" (click)="showPassword()">
            <ion-icon color="dark" name="eye-outline" slot="icon-only"> </ion-icon>
          </ion-button>
          <ion-button [hidden]="isPasswordVisible" (click)="showPassword()">
            <ion-icon color="dark" name="eye-off-outline" slot="icon-only"> </ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">
          Password needs to be 6 characters
        </ion-note>
      </ion-item>
      <ion-item class="ion-margin-bottom bg-transparent" lines="none">
        <ion-label class="ion-text-end" color="dark">
          Forgot Password?
        </ion-label>
      </ion-item>

      <ion-button type="submit" expand="block" class="shadow" color="dark" [disabled]="!loginForm.valid">
        Log in
      </ion-button>

      <p class="ion-text-center mt-6">
        <ion-text color="dark">
          Don't have an account? <a style="color: var(--ion-color-white) !important;" (click)="register()">Create
            one</a>
        </ion-text>
      </p>
    </form>
  </main>
</ion-content>