<ion-header>
  <ion-toolbar>
    <ion-title>Gurukul Student Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="register()" [formGroup]="registerForm">
    <ion-row>
      <ion-col size="12">

        <ion-item class="ion-margin-bottom" color="light">
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
          <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">
            Email is invalid
          </ion-note>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item class="ion-margin-bottom" color="light">
          <ion-input type="text" placeholder="FirstName" formControlName="first_name"></ion-input>
          <ion-note slot="error" *ngIf="(first_name.dirty || first_name.touched) && first_name.errors">
            First Name needs to be 5 characters
          </ion-note>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item class="ion-margin-bottom" color="light">
          <ion-input type="text" placeholder="Last Name" formControlName="last_name"></ion-input>
          <ion-note slot="error" *ngIf="(last_name.dirty || last_name.touched) && last_name.errors">
            Last Name needs to be 5 characters
          </ion-note>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item class="ion-margin-bottom" color="light">
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">
            Password needs to be 6 characters
          </ion-note>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item class="ion-margin-bottom" color="light">
          <ion-input type="tel" placeholder="Phone Number" formControlName="mobile"></ion-input>
          <ion-note slot="error" *ngIf="(mobile.dirty || mobile.touched) && mobile.errors">
            Phone Number needs to be 10 digits.
          </ion-note>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item id="start-date" class="ion-margin-bottom" color="light">
          <ion-label>Date of Birth</ion-label>
          <ion-text slot="end">{{ registerForm.value.dob }}</ion-text>
          <ion-popover trigger="start-date" show-backdrop="false">
            <ng-template>
              <ion-datetime #startDateTime presentation="date" formControlName="dob" placeholder="select Date of Birth">
                <div slot="title">Select Date of Birth</div>
              </ion-datetime>
            </ng-template>
          </ion-popover>
          <ion-note slot="error" *ngIf="(dob.dirty || dob.touched) && dob.errors">
            please enter date of birth
          </ion-note>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row formGroupName="location">
      <ion-col size="6">
        <ion-item class="ion-margin-bottom" color="light">
          <ion-input placeholder="Address" formControlName="address"></ion-input>
          <ion-note slot="error" *ngIf="(address.dirty || address.touched) && address.errors">
            Address is required
          </ion-note>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item class="ion-margin-bottom" color="light">
          <ion-input type="tel" placeholder="Pincode" formControlName="pincode"></ion-input>
          <ion-note slot="error" *ngIf="(pincode.dirty || pincode.touched) && pincode.errors">
            Please enter Pincode.
          </ion-note>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="ion-margin-bottom" color="light">
          <ion-input type="text" placeholder="City" formControlName="city"></ion-input>
          <ion-note slot="error" *ngIf="(city.dirty || city.touched) && city.errors">
            Please enter City.
          </ion-note>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="ion-margin-bottom" color="light">
          <ion-input type="text" placeholder="State" formControlName="state"></ion-input>
          <ion-note slot="error" *ngIf="(state.dirty || state.touched) && state.errors">
            Please enter State.
          </ion-note>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item class="ion-margin-bottom" color="light">
          <ion-input type="text" readonly placeholder="Country" formControlName="country"></ion-input>
          <ion-note slot="error" *ngIf="(country.dirty || country.touched) && country.errors">
            Please enter Country.
          </ion-note>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-text>
          <p class="ion-text-center">Already have an account? <span (click)="login()">
              <ion-text color="primary"><a>Login here</a></ion-text>
            </span></p>
        </ion-text>
      </ion-col>

      <ion-col size="12">
        <ion-button type="submit" expand="block" [disabled]="!registerForm.valid">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>