<ion-header>
  <ion-toolbar>
    <ion-title>Gurukul Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col size="12" size-lg="4" size-xl="3" class="ion-margin-bottom">
      <ion-card mode="ios" class="ion-no-margin d-grid-center ion-padding dashboard ion-activatable h-100"
        (click)="navTo('purchased-courses')">
        <ion-ripple-effect></ion-ripple-effect>
        <p>My Courses</p>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-lg="4" size-xl="3" class="ion-margin-bottom">
      <ion-card mode="ios" class="ion-no-margin d-grid-center ion-padding dashboard ion-activatable h-100"
        (click)="navTo('courses')">
        <ion-ripple-effect></ion-ripple-effect>
        <p>Store/Courses/My courses/ Available Course</p>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-lg="4" size-xl="3" class="ion-margin-bottom">
      <ion-card mode="ios" class="ion-no-margin d-grid-center ion-padding dashboard ion-activatable h-100"
        (click)="navTo('progress')">
        <ion-ripple-effect></ion-ripple-effect>
        <p>Gurukul Analysis</p>
      </ion-card>
    </ion-col>
    <!-- <ion-col size="6" size-lg="4" size-xl="3" class="ion-margin-bottom">
      <ion-card mode="ios" class="ion-no-margin d-grid-center ion-padding dashboard ion-activatable h-100"
        (click)="navTo('orders')">
        <ion-ripple-effect></ion-ripple-effect>
        <p>Orders</p>
      </ion-card>
    </ion-col> -->
    <ion-col size="12" size-lg="4" size-xl="3" class="ion-margin-bottom" (click)="navTo('account')">
      <ion-card mode="ios" class="ion-no-margin d-grid-center ion-padding dashboard ion-activatable h-100">
        <ion-ripple-effect></ion-ripple-effect>
        <p>Account</p>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>