<ion-content color="white">
  <div class="dashboard-header pl-3 pt-5">
    <ion-item color="white" class="bg-transparent" lines="none">
      <ion-avatar slot="start" class="shadow">
        <ion-img src="../../../assets/student.png">
        </ion-img>
      </ion-avatar>
      <ion-label color="dark">
        <h2 class="size-22 fw-bold">{{student.first_name}} {{student.last_name}}</h2>
        <p class="size-12" style="color: var(--ion-color-medium);">
          Course: {{student.course_type || 'CA'}}
        </p>
      </ion-label>
      <ion-buttons slot="end">
        <!-- <ion-button color="tertiary" class="action-btn size-12 position-relative">
          <ion-badge class="position-absolute notification-count">5</ion-badge>
          <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        </ion-button> -->
        <ion-button color="danger" class="action-btn size-12" (click)="logout()">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </div>
  <main class="main p-4 pt-5">
    <ion-row>
      <ion-col size="12" size-lg="4" size-xl="3" class="ion-margin-bottom">
        <ion-card mode="ios" class="ion-no-margin d-grid-center ion-padding dashboard ion-activatable h-100 shadow-none"
          (click)="navTo('purchased-courses')">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-text color="dark">
            <p class="ion-text-center size-18 fw-bold">Courses Subscribed</p>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="4" size-xl="3" class="ion-margin-bottom">
        <ion-card mode="ios" class="ion-no-margin d-grid-center ion-padding dashboard ion-activatable h-100 shadow-none"
          (click)="navTo('courses')">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-text color="dark">
            <p class="ion-text-center size-18 fw-bold">Courses</p>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="4" size-xl="3" class="ion-margin-bottom">
        <ion-card mode="ios" class="ion-no-margin d-grid-center ion-padding dashboard ion-activatable h-100 shadow-none"
          (click)="navTo('about-us')">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-text color="dark">
            <p class="ion-text-center size-18 fw-bold">About Gurukul</p>
          </ion-text>
        </ion-card>
      </ion-col>
      <!-- <ion-col size="12" size-lg="4" size-xl="3" class="ion-margin-bottom">
        <ion-card mode="ios" class="ion-no-margin d-grid-center ion-padding dashboard ion-activatable h-100 shadow-none"
          (click)="navTo('progress')">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-text color="dark">
            <p class="ion-text-center size-18 fw-bold">Gurukul Analysis</p>
          </ion-text>
        </ion-card>
      </ion-col> -->
      <!-- <ion-col size="12" size-lg="4" size-xl="3" class="ion-margin-bottom">
        <ion-card mode="ios" class="ion-no-margin d-grid-center ion-padding dashboard ion-activatable h-100 shadow-none"
          (click)="navTo('orders')">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-text color="dark">
            <p class="ion-text-center size-18 fw-bold">Orders</p>
          </ion-text>
        </ion-card>
      </ion-col> -->
      <ion-col size="12" size-lg="4" size-xl="3" class="ion-margin-bottom" (click)="navTo('account')">
        <ion-card mode="ios"
          class="ion-no-margin d-grid-center ion-padding dashboard ion-activatable h-100 shadow-none">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-text color="dark">
            <p class="ion-text-center size-18 fw-bold">Account</p>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-item class="bg-transparent" lines="none">
      <ion-label class="ion-text-wrap" color="white">
        <h1 class="fw-bold">Gurukul</h1>
        <ion-text color="dark">
          <p>M.G.Road. VIJAYAWADA - 520 010. Mobiles: +91 866 6626677. 8790006308. 8790006408.</p>
          <p>Contact: <a href="mailto:gurukulforca@gmail.com"
              style="color: var(--ion-color-dark)">gurukulforca@gmail.com</a></p>
        </ion-text>
      </ion-label>
    </ion-item>
  </main>


</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="medium" (click)="openLink()">
    <p class="ion-text-center w-100 h-100">
      <ion-text color="white">https://www.gurukulforca.com</ion-text>
    </p>
  </ion-toolbar>
</ion-footer>