.dashboard-header {
    height: 150px;

    ion-avatar {
        height: 48px;
        width: 48px;
    }
}

.action-btn {
    --border-radius: 8px !important;
    margin-right: 8px;
}

.notification-count {
    top: -10px;
    left: 10px;
    z-index: 99;
}

.dashboard {
    background: var(--ion-color-white);
    background: rgba(var(--ion-color-white-rgb), 0.5);
    min-height: 120px;
}

.main {
    --border-value: 50px;
    border-top-left-radius: var(--border-value);
    border-top-right-radius: var(--border-value);
    min-height: calc(100% - 150px);
    height: fit-content;
    background: var(--ion-color-primary);
}