<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>
      About Gurukul
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-row class="mb-4">
    <ion-col size="12" class="mb-3">
      <ion-img src="../../../assets/gurukul.jpg"></ion-img>
    </ion-col>
    <ion-col size="12">
      <iframe class="w-100"
        src="https://www.youtube.com/embed/WNVtttyOhtA?enablejsapi=1&autoplay=0&cc_load_policy=0&iv_load_policy=1&loop=0&modestbranding=0&rel=1&showinfo=1&fs=1&playsinline=0&controls=2&autohide=2&theme=dark&color=red&"
        frameborder="0"></iframe>
    </ion-col>
  </ion-row>
  <p>
    Coming from a background of CA, our team makes us one of a kind institute in the field. What began with a batch of
    50 students, has today grown into a campus of 1200+ of CA aspirants from across the states like AP, Telangana,
    Karnataka and Orissa. We recognize that out strength is our qualification, having built a reputation of best CA
    institute in just a matter of a few years.
  </p>

  <h4>Courses:</h4>
  <p>
    The courses offered at the institute include the entire Chartered Accountancy Course under one roof. Along with
    that, we have started intermediate college for students who are ambitious of becoming Chartered Accountants. We
    Currently offer the groups of MEC, CA as well as CMA
  </p>

  <p>
    Owing to the efforts made by our experienced and hardworking faculty, the students have secured All India ranks in
    both CA and CMA Courses. We are also proud to inform that Gurukul had garnered All India top marks of 192 in CPT
    results declared in January 2018, with a pass percentage of 45% at the CA-Inter level and 80% CA-foundation level.
  </p>

  <h4>Infrastructure:</h4>
  <p>
    Gurukul is known for its futuristic infrastructure and technologically-advanced learning environment. We use
    projectors, Documentary Cameras, Audible sound systems where students can learn various subjects with a renewed
    zeal. We also have the facility of girls and boys hostels, set up on popular demand.
  </p>


  <h4>Conclusion:</h4>

  <p>
    As they say “CA study Course in India is not the toughest study course. It’s for them who are the toughest, the
    determined.” It is on this principle that our institute, Gurukul is run to aspire for the popular profession around
    the globe and across industries, whether it is Taxation, Audit, Accounting, and Corporate Finance to name a few.
    What makes us stand out is that we prepare our materials after thorough and extensive research to keep ourselves
    updated with the latest syllabus. Not just that, we also conduct revision exams from time to time, considered to be
    mandatory practice in the pursuit of CA.
  </p>
  <p>
    Having undergone this rigorous course of CA ourselves, we understand the needs and deeds of the students a little
    more. We are at a better place to guide and push them forward towards their dreams and and aspirations. All of it
    put together, it enables our students to not only crack their CA examinations but also be the Confident and
    Competitive professionals of tomorrow
  </p>
</ion-content>