<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="tests"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Payment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>UPI</ion-label>
    <ion-note slot="end" color="danger">XXXXXX</ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      <h2>Net Banking</h2>
      <ion-note color="danger">
        XXXXXXXXXXXX<br />
        XXXXXX<br />
        XXXXXXXX
      </ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Contact US</ion-label>
    <ion-note slot="end" color="danger">+91-9988776655</ion-note>
  </ion-item>

  <ion-item lines="none" color="light" class="url" *ngIf="uploadedURL">
    <ion-label>
      <ion-text>
        {{uploadedURL || 1234}}
      </ion-text>
    </ion-label>
    <ion-buttons slot="end" (click)="copyURL()">
      <ion-button>
        <ion-icon slot="icon-only" color="dark" name="copy-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <input type="file" #f id="fileInput" (change)="fileSelected($event)" />
    <ion-button for="fileInput" expand="full" class="ion-no-margin" size="large" (click)="f.click()">
      <span style="font-size: 14px">Upload payment acknowledgement</span>
    </ion-button>
  </ion-toolbar>
</ion-footer>